/* loginPage.css */

body {
    background: #f5f5f5;
    font-family: Arial, sans-serif;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-signin-heading {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.checkbox {
    margin-bottom: 20px;
    font-weight: normal;

}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;

    &:focus {
        border-color: #007bff;
        outline: none;
    }
}

.form-control[type="text"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
}

.form-control[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;

}

.btn-primary {
    display: block;
    width: 100%;
    padding: 12px 0;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0056b3;
    }
}